@import "./colors.css";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}

.policy-catalog-container {
  padding: 45px 15px;
}

.catalog-title {
  color: var(--text);
  text-align: center;
  margin-bottom: 2rem;
}

.policy-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 0 auto;
  width: 100%; /* changed to 100% to use full width */
  max-width: none; /* changed to none to allow single line layout */
}

.policy-item {
  height: 300px;
  display: flex;
  flex-direction: column; /* Direct children in a column */
  justify-content: space-between; /* Space between the children */
  position: relative;
  overflow: hidden;
  background-color: var(--bg);
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
}

.policy-item::before {
  /* Changed to ::before for natural stacking order */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(to top, var(--hover) 50%, transparent 50%);
  /* Replace with your wavering color */
  transition: height 0.3s ease;
  z-index: -1;
  /* Behind the content of .policy-item */
}

.policy-item:hover::before {
  height: 200%;
}

.policy-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.policy-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push the button to the bottom */
  height: 100%; /* Ensure the container fills the entire .policy-item */
  text-align: center;
}

.policy-title {
  color: var(--text);
  margin-bottom: 1rem;
}

.policy-price {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.details-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: var(--bg);
  color: var(--secondary);
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
