@import "./colors.css";

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--bg);
  padding: 30px;
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px rgba(0, 0, 0, 0.04);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.modal-body {
  margin-bottom: 20px;
}

.flight-confirmation-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}

.purchase-button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.purchase-button:hover {
  background-color: darken(var(--primary), 10%);
}

/* Styles for transaction states */
.funds-transferring {
  background-color: #d4a017; /* Dark shade of yellow */
  color: white;
  pointer-events: none; /* Prevent clicking while in process */
}

.transaction-successful {
  background-color: #4caf50; /* Green color for success */
  color: white;
  pointer-events: none; /* Prevent clicking after success */
}

.transaction-details {
  margin-top: 15px;
  padding: 10px;
  background-color: #f5f5f5; /* Light grey background */
  border: 1px solid #ccc; /* Grey border */
  border-radius: var(--border-radius);
  font-family: monospace; /* Font for code-like appearance */
  white-space: pre-wrap; /* Allows text to wrap within the container */
  word-wrap: break-word; /* Breaks the text to prevent overflow */
  overflow-wrap: break-word; /* Ensures long words break and wrap to the next line */
  overflow-x: auto; /* Adds a horizontal scrollbar if needed */
}

.transaction-details p code {
  background-color: #e8e8e8; /* Lighter grey for code blocks */
  padding: 2px 4px;
  border-radius: 4px;
  display: block; /* Makes code elements behave like block-level elements */
  overflow-x: auto; /* Adds a horizontal scrollbar if needed */
}

.dashboard-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard-button:hover {
  background-color: #4a74c7;
}
